:root{
    --Purple-dark: #6C5CE7;
    --grey-dark: #5C5C5C;
    --pink-soft: #fff7dc;
    --black: #2D3436;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;;
}

header{
    position: relative;
}

.header--menu-sign-in{
    width: 100%;
    min-width: 320px;
    max-width: 700px;
    height: 72px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16);
}

.header--menu-sign-in span{
    width: 40px;
    height: 40px;
    background-image: url("https://svgshare.com/i/VL5.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.header--menu-sign-in p{
    justify-self: left;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.6rem;
}

.header--menu-sign-in a{
    width: 128px;
    padding: 8px;
    margin-left: auto;
    margin-right: 25px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 3.2rem;
    text-decoration: none;
    color: white;
    background-color: var(--Purple-dark);
    text-align: center;
    border-radius: 8px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header--info{
    background-color: var(--pink-soft);
    width: 100%;
    min-width: 320px;
    max-width: 700px;
    padding: 25px 0;
    text-align: center;
}

.header--info h1{
    font-size: 6.4rem;
    font-weight: 900;
    line-height: 7rem;
    color: var(--black);
    text-shadow: 0px 4px 0px #FFFFFF;
}

.header--info h2{
    font-size: 4.8rem;
    font-weight: bold;
    line-height: 7.7rem;
    color: var(--black);
    text-shadow: 0px 4px 0px #FFFFFF;
}


.header--info h2 span{
    color: #D63031;
}

.header--info p{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 3.6rem;
    color: var(--black);
}

.header--call{
    width: 40px;
    height: 40px;
    background-image: url("https://svgshare.com/i/VL5.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header--icon-container{
    position: absolute;
    left: calc(50% - 25px);
    top: 93%;
    display: flex;
    width: 50px;
    height: 50px;
    justify-self: center;
    align-items: center;
    background-color: #fdf9ec;
    border-radius: 50%;
}

.header--icon-container img{
    width: 50px;
    height: 80px;
}


.img-section{
    width: 100%;
    min-width: 320px;
    height: 40vh;
    margin: 50px auto 0;
    background-image: url("https://i.ibb.co/7nxswVY/Image.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.img-section h3{
    margin-top: 20px;
    font-size: 2.3rem;
    font-weight: bold;
    line-height: 2.7rem;
    color: white;
}


.main--why-us{
    margin-top: 25px;
    text-align: center;
}

.main--why-us h2{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 3.6rem;
    color: var(--black);
}

.main--why-us h2 span{
    color: var(--Purple-dark);
}

.main--why-us--p{
    margin-top: 10px;
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 2rem;
    color: var(--black);
}

.main--service{
    margin-top: 25px;
}

.main--service article{
    margin-bottom: 25px;
}

.main--service--article--container .hand-up{
    display: block;
    width: 52px;
    height: 52px;
    border-radius: 12px;
    margin: 0 auto;
    background-image: url("https://svgshare.com/i/VHx.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #FF7675;
}


.main--service--article--container .light{
    display: block;
    width: 52px;
    height: 52px;
    border-radius: 12px;
    margin: 0 auto;
    background-image: url("https://svgshare.com/i/VKD.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #00B894;
}

.main--service--article--container .linkedin{
    display: block;
    width: 52px;
    height: 52px;
    border-radius: 12px;
    margin: 0 auto;
    background-image: url("https://svgshare.com/i/VK9.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #E84393;
}


.main--service--article--container .some-rctangle{
    display: block;
    width: 52px;
    height: 52px;
    border-radius: 12px;
    margin: 0 auto;
    background-image: url("https://svgshare.com/i/VHv.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #74B9FF;
}

.main--service--article--container h3{
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.7rem;
    color: var(--black);
}


.main--service--article--container p{
    font-size: 1.3rem;
    line-height: 2.4rem;
    color: var(--black);
}

.main--service--article--container a{
    display: block;
    margin: 10px auto 0;
    width: 109.5px;
    height: 36px;
    padding-top: 5px;
    border: 0.75px solid #ADADAD;
    text-decoration: none;
    border-radius: 12px;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 2.4rem;
    color: var(--Purple-dark);
}


